<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MyBatis01.UserDaoMapper">
<!--    <insert id="addUser">-->
<!--        insert into web.shiti.User (web.shiti.User.id, web.shiti.User.name, web.shiti.User.pwd) value (#{id},#{name},#{pwd});-->
<!--    </insert>-->
</mapper>